
.sidebar-dark-success .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-dark-success .nav-sidebar .nav-treeview > .nav-item > .nav-link.active,
.sidebar-dark-success .nav-sidebar .nav-link.active {
    background-color: #5E7CE3 !important;
    color: #fff !important;
}



.nav-sidebar .nav-treeview .nav-link p,
.nav-sidebar .nav-treeview .nav-link i {
  color: #fff !important;
}

.bg-basic {
  background-color: #5E7CE3 !important;
}

/* status */
.status-badge {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #eda73d;
  color: #ffffff;
}

.status-diterima {
  background-color: #21ca5f;
  color: #ffffff;
}
.status-ditolak {
  background-color: #EF4444;;
  color: #ffffff;
}

.status-diproses {
  background-color: #5E7CE3;
  color: #ffffff;
}

.action-icons i {
  margin: 0 6px;
  cursor: pointer;
}

.filter-area .form-control {
  height: calc(1.5em + .5rem + 2px);
  font-size: .875rem;
}

.badge-admin {
  background-color: #5E7CE3;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
}
.badge-siswa {
  background-color: #21ca5f;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
}

/* style form upload dokumen */

