
.bg-basic {
  background-color: #2E8B57 !important;
  /* background-color: #5E7CE3 !important; */
}

.form-control:focus{
  border-color: #2E8B57 !important;
  box-shadow: none;
}

/* custom dropdown */
select {
  min-inline-size: 14ch;
  justify-content: space-between;

  &, &::picker(select) {
    appearance: base-select;
    padding: .5rem;
    border: solid 1px #2E8B57;
    line-height: 2.5;
    }

  &::picker(select) {
    margin-block-start: 0.5rem;
  }

  &::picker-icon {
    display: none;
  }
}

.picker {
  transition: rotate 0.3s ease;

  .open & {
    rotate: 90deg;
    }
  }

/* button cetak */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #e9e9e9 !important;
}

.dropdown-item:active {
    background-color: #dddcdc !important;
}

/* paginasi custom */
.pagination {
    --pagination-main-color: #31708F;
    --pagination-dark-color: #2A647B; 
    --pagination-text-color: #FFFFFF; 
}

.pagination .page-link {
    color: var(--pagination-main-color); 
    border-color: #ced4da; 
}

.pagination .page-item:not(.active) .page-link:hover {
    color: #FFFFFF; 
    background-color: var(--pagination-dark-color); 
    border-color: var(--pagination-dark-color); 
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: var(--pagination-text-color);
    background-color: var(--pagination-main-color);
    border-color: var(--pagination-main-color);
}

.pagination .page-item.disabled .page-link {
    color: #a0a0a0; 
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

/* status */
.status-badge {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #eda73d;
  color: #ffffff;
}

.status-diterima {
  background-color: #21ca5f;
  color: #ffffff;
}
.status-ditolak {
  background-color: #EF4444;;
  color: #ffffff;
}

.status-diproses {
  background-color: #5E7CE3;
  color: #ffffff;
}
.status-perbaikan {
  background-color: #eda73d;
  color: #ffffff;
}

.action-icons i {
  margin: 0 6px;
  cursor: pointer;
}

.filter-area .form-control {
  height: calc(1.5em + .5rem + 2px);
  border: solid 2px #2E8B57;
  font-size: .875rem;
}

.badge-admin {
  background-color: #5E7CE3;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
}
.badge-siswa {
  background-color: #21ca5f;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 600;
}

/* style form upload dokumen */

